<!DOCTYPE html>
<html>
<title>See anime</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}


.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/anime/" class="w3-button w3-block w3-black">ซับไทย</a>
    </div>
    <div class="w3-col s3">
      <a href="/anime1/" class="w3-button w3-block w3-black">พากย์ไทย</a>
    </div>
    <div class="w3-col s3">
      <a href="/anime2/" class="w3-button w3-block w3-black">อนิเมะทั้งหมด</a>
    </div>
    <div class="w3-col s3">
        <a href="login.html" class="w3-button w3-block w3-black">Login</a>
    </div>
    <div class="w3-col s3">
        <a href="/insertmovie/" class="w3-button w3-block w3-black">insertmovie</a>
    </div>
  </div>
</div>
<br><br><br><br>
<div class="w3-container w3-teal">
    <h1>พากย์ไทย</h1>
  </div>

  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/2.jpg" style="width:100%">
        <div class="w3-container">
          <h5><a href="https://www.anime-sugoi.com/1869/"> Infinite Stratos ปฏิบัติการรักจักรกลทะยานฟ้า</a></h5>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/9.jpg" style="width:100%">
        <div class="w3-container">
          <h5><a href="https://www.anime-sugoi.com/1754/"> Let's & Go นักซิ่งสายฟ้า</a></h5>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/10.jpg"style="width:100%">
        <div class="w3-container">
          <h5><a href="https://www.anime-sugoi.com/404/"> Blood Lad แวมไพร์พันธุ์ลุย</a></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/11.jpg"style="width:100%">
        <div class="w3-container">
          <h5><a href="https://www.anime-sugoi.com/273/"> Air Gear ขาคู่ทะลุฟ้า</a></h5>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/12.jpg" style="width:100%">
        <div class="w3-container">
          <h5><a href= "https://www.anime-sugoi.com/237/">Another อนาเธอร์</a></h5>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="/static/images/13.jpg"style="width:100%">
        <div class="w3-container">
          <h5><a href="https://www.anime-sugoi.com/1953/">S.A Special A วัยมันส์คนพันธุ์ A</a></h5>
        </div>
      </div>
    </div>
  </div>







<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
